body {
  background-color: #708090;
}

#runwayOuterDiv {
  background-color: #708090;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  text-align: center;
}

#tlcanvas1 {
  background-color: black;
  display: inline-block;
  position: relative;
  width: 1400px;
  height: 700px;
  text-align: center;
}

#notationOuterDiv {
  background-color: #708090;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  text-align: center;
}

#notationCanvasL {
  background-color: black;
  display: inline-block;
  position: relative;
  width: 342px;
  height: 400px;
  left: -26px;
  top: 5px;
  margin-top: 0px;
  text-align: center;
  vertical-align: top;
}

#notationCanvasR {
  background-color: black;
  display: inline-block;
  position: relative;
  width: 342px;
  height: 400px;
  left: 26px;
  margin-top: 0px;
  text-align: center;
  vertical-align: top;
}

#notationLSVG {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 280px;
  height: 260px;
  margin-top: 5px;
  text-align: center;
}

#notationRSVG {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 280px;
  height: 260px;
  margin-top: 5px;
  text-align: center;
}

#statusbar {
  background-color: rgb(169, 169, 169);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
}
